
			<div class="item">
				<div id="headingblock">
					<h2>Create Your Own Design</h2>	
				  </div>
				<img src="assets\Shirt\wallpaper3.jpg" alt="New york" style="width:100%;">
			  </div>
				<div class="container">
				<div id="container">
					<div id="headingblock">
					<h2> Selection</h2>	
				</div>
				<!-------1st catbox------>
					<div class="catbox">
					<img src="assets\Shirt\menss.jpg" alt="equipments">
					<span>Mens Wear</span>
					</div>
			
					<!-------2nd catbox------>
					
					<div class="catbox">
					<img src="assets\Shirt\ladies.jpg"> 
					<span>Ladies Wear</span>
					</div>
					
					<!-------3rd catbox------>
					
					<div class="catbox">
					<img src="assets\Shirt\baby.jpg" >
					<span>Baby Wear</span>
					</div>
						
				
				
				</div>