<div class="container">
    <br>
    <br>
    <br>
  <form>
    <h2>Sign up (create account) </h2>
    <div class="form-floating mb-3">
      <input type="text" class="form-control"  >
      <label for="floatingInput">Name</label>

    </div>
    
    <div class="form-floating mb-3">
      <input type="email" class="form-control"  >
      <label for="floatingInput">Email address</label>
    </div>

    <div class="form-floating mb-3">
<input type="password" #passwordSignup  class="form-control"  >
<label for="floatingPassword">Password</label>
</div>


<div class="form-floating mb-3">
<input type="text" class="form-control"  >
<label for="floatingInput">Address</label>
</div>



    
    <div class="mb-3 form-check">
     
    </div>
    <button class="btn btn-primary">Sign up</button>
    <!-- <a routerLink="/ome"> ome</a> -->
  </form>
  </div>