.body {
    font-family: 'Poppins', sans-serif;
}

.container .col-md:nth-child(2) {
    position: relative;
    display: flex;
    justify-content: flex-end;
}


.tailor {
    width: 88%;
    margin-top: 60px;
    margin-right: 20px;
}

h3 {
    color: #757575;
    margin-bottom: 0px !important;
    margin-top: 100px !important;
    font-size: 43px !important;
}

h2 {
    color: #366b70;
    font-size: 70px !important;
}

p {
    color: #AAAAAA;
    font-size: 20px;
}

button {
    background-color:#71aeb4 !important;
    color: white !important;
    width: 180px;
    height: 50px;
    border-radius: 15px !important;
    font-family: 'Poppins', sans-serif;
    padding: 10px 0px !important;
    border: 2px solid transparent !important;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: white !important;
    color: #757575 !important;
    border: 2px solid #D4F1F3 !important;
}


form {
    margin-top: 20px !important;
}

@media (max-width:767px) {
    .row {
        flex-direction: column-reverse;
    }
    .h3 {
        font-size: 20px;
    }
    .h2 {
        font-size: 30px;
    }
    .p {
        font-size: 15px;
    }
}